In [1]:
# Impoortar as bibliotecas
import pandas as pd
import numpy as np
import os
from IPython.display import display, Markdown

In [2]:
enade = pd.read_csv(
    "../001-fundamentos/enade2019/2018/3.DADOS/microdados_enade_2018.txt",
    sep=';', 
    decimal =','
)

In [3]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0
1,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
2,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0
3,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,4.0
4,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [4]:
# Verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

Mais alguns itens do questionÃ¡rios do estuadnte:
- 01: Estado Civil
- 02: Cor ou raÃ§a
- 04: Escolaridade do pai
- 05: Escolaridade da mÃ£e
- 08: Renda Familiar
- 10: SituaÃ§Ã£o de trabalho
- 11: SituaÃ§Ã£o de bolsa
- 14: IntercÃ¢mbio
- 15: Cotas
- 23: Horas de Estudo / semana
- 25: Motivo de escolha do curso
- 26: Motivo de esclha da IES

In [5]:
# NT_GER (NOTA GERAL)
enade.NT_GER.describe()

count    462232.000000
mean         41.790123
std          14.392336
min           0.000000
25%          31.200000
50%          41.000000
75%          51.700000
max          93.700000
Name: NT_GER, dtype: float64

In [6]:
# Contar o nÃºmero de nulos
enade.NT_GER.isnull().sum()

85895

In [7]:
# Quantiadde relativa de nulos (%)
enade.NT_GER.isnull().sum() / enade.shape[0]

0.15670638373953483

In [8]:
# .loc - filtro de linha com alguma condiÃ§Ã£o
# Acessando estatÃ­stica descritivas da NOTA GERAL
# apenas para alunos da REGIÃƒO Nordeste (2)
enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.describe()

count    84368.000000
mean        41.711589
std         14.441554
min          0.000000
25%         31.100000
50%         40.900000
75%         51.600000
max         93.700000
Name: NT_GER, dtype: float64

In [9]:
# Filtrar apenas com NOTA GERAIS maior que zero e fazendo anÃ¡lise descritiva
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    461717.000000
mean         41.836736
std          14.332490
min           0.100000
25%          31.300000
50%          41.000000
75%          51.700000
max          93.700000
Name: NT_GER, dtype: float64

In [10]:
# Filtrano NOTA GERAL apenas de alunos entre 20 e 50 anos e fazendo anÃ¡lise descritiva
enade.loc[
    (enade.NU_IDADE >= 20) &
    (enade.NU_IDADE <= 50)
].NT_GER.describe()

count    447384.000000
mean         41.875858
std          14.400493
min           0.000000
25%          31.300000
50%          41.100000
75%          51.800000
max          93.700000
Name: NT_GER, dtype: float64

In [11]:
# Tabela cruzada
# Contar quantos hoomens e mulheres
display(Markdown("### Quantidade de homens e mulheres no ENADE"))
display(enade.TP_SEXO.value_counts())

# Em porcentagem
display(Markdown("### Porcentagem de homens e mulher no ENADE"))
display(enade.TP_SEXO.value_counts() / enade.shape[0])

### Quantidade de homens e mulheres no ENADE

F    325579
M    222548
Name: TP_SEXO, dtype: int64

### Porcentagem de homens e mulher no ENADE

F    0.593985
M    0.406015
Name: TP_SEXO, dtype: float64

In [12]:
# Quero comparar as regiÃµes - vamos agregar utilizando uma mÃ©dia
enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  462232.000000  462232.000000  462232.000000
mean       41.790123      45.827319      40.427809
std        14.392336      17.822604      15.561315
min         0.000000       0.000000       0.000000
25%        31.200000      32.800000      28.800000
50%        41.000000      45.100000      39.600000
75%        51.700000      58.600000      51.200000
max        93.700000      99.200000      97.500000

In [13]:
# Vamoso comparar mÃ©dias de notas para cada regiÃ£o do Brasil
enade.groupby('CO_REGIAO_CURSO').agg({
    'NT_GER': 'mean',
    'NT_FG': 'mean',
    'NT_CE': 'mean'
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                39.978116  45.154256  38.235991
2                41.711589  45.984404  40.270963
3                42.684169  46.409807  41.425608
4                40.993452  44.942474  39.660517
5                40.328111  45.130644  38.710862

# TransformaÃ§Ãµes

In [14]:
enade['DESC_PUBLICA'] = ""
enade.loc[
    enade.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10008, 10009, 17634]),
    'DESC_PUBLICA'
] = 'Privado'

In [15]:
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    'DESC_PUBLICA'
] = 'PÃºblico'

In [16]:
display(Markdown('### Quantidade de alunos de instituiÃ§Ãµes pÃºblicas e privadas'))
display(enade.DESC_PUBLICA.value_counts())
display(Markdown('### Quantidade de alunos de instituiÃ§Ãµes pÃºblicas e privadas (%)'))
display(enade.DESC_PUBLICA.value_counts() / enade.shape[0])

### Quantidade de alunos de instituiÃ§Ãµes pÃºblicas e privadas

Privado    449771
PÃºblico     81377
            16979
Name: DESC_PUBLICA, dtype: int64

### Quantidade de alunos de instituiÃ§Ãµes pÃºblicas e privadas (%)

Privado    0.820560
PÃºblico    0.148464
           0.030976
Name: DESC_PUBLICA, dtype: float64

In [17]:
# Transformar a modalidade
enade["CO_MODALIDADE"] = enade.CO_MODALIDADE.replace({
    1: 'Presencial',
    2: 'EaD',
})

In [18]:
display(Markdown('### Quantidade de alunos na modalidade Presencial e EAD '))
enade.CO_MODALIDADE.value_counts()

### Quantidade de alunos na modalidade Presencial e EAD

Presencial    451200
EaD            96927
Name: CO_MODALIDADE, dtype: int64

In [19]:
# Transforma REGIÃƒO
enade["CO_REGIAO_CURSO"] = enade.CO_REGIAO_CURSO.replace(
    {
        1: "Norte",
        2: "Nordeste",
        3: "Sudeste",
        4: "Sul",
        5: "Centro-Oestre"
    }
)

In [20]:
display(Markdown('### Quantidade e alunos e cada regiÃ£o'))
enade.CO_REGIAO_CURSO.value_counts()

### Quantidade e alunos e cada regiÃ£o

Sudeste          252237
Sul              123199
Nordeste         100025
Centro-Oestre     45204
Norte             27462
Name: CO_REGIAO_CURSO, dtype: int64

In [21]:
dict(enade.QE_I02.value_counts())

{'A': 261439, 'D': 157961, 'B': 44068, 'C': 11503, 'F': 9059, 'E': 1479}

In [22]:
# Transformando Cor RaÃ§a
enade["DESC_COR"] = enade.QE_I02.replace(
    {
        'A': 'Branca',
        'B': 'Preta',
        'C': 'Amarela',
        'D': 'Parda',
        'E': 'IndÃ­gena',
        'F': pd.NA
    }
)

In [23]:
display(Markdown('### Quantidade de alunos por cor/raÃ§a no ENADE'))
display(enade.DESC_COR.value_counts())
display(Markdown('### Quantidade de alunos por cor/raÃ§a no ENADE (%)'))
display(enade.DESC_COR.value_counts() / enade.shape[0])

### Quantidade de alunos por cor/raÃ§a no ENADE

Branca      261439
Parda       157961
Preta        44068
Amarela      11503
IndÃ­gena      1479
Name: DESC_COR, dtype: int64

### Quantidade de alunos por cor/raÃ§a no ENADE (%)

Branca      0.476968
Parda       0.288183
Preta       0.080397
Amarela     0.020986
IndÃ­gena    0.002698
Name: DESC_COR, dtype: float64

# Algumas perguntas para respoonder

## 1. Qual Ã© a nota geral mÃ©dia dos alunos da regiÃ£o Nordeste?

In [24]:
display(Markdown('### A nota geral mÃ©dia dos alunos da regiÃ£o Nordeste Ã©:'))
display(enade.loc[
    enade.CO_REGIAO_CURSO == 'Nordeste',
    "NT_GER"
].mean())

### A nota geral mÃ©dia dos alunos da regiÃ£o Nordeste Ã©:

41.71158851697325

## 2. Qual Ã© a mÃ©dia da nota do componente especÃ­fico dos alunos do Rio Grande o Sul dos cursos de Psicologia?

In [25]:
display(Markdown('### A mÃ©dia da nota do componente especÃ­fico \
                    dos alunos do curso de Psicologia no Rio \
                    Grande do Sul Ã©:'))
display(enade.loc[
    (enade.CO_UF_CURSO == 43) &
    (enade.CO_GRUPO == 18),
    "NT_CE" 
].mean())

### A mÃ©dia da nota do componente especÃ­fico                     dos alunos do curso de Psicologia no Rio                     Grande do Sul Ã©:

48.451963141025644

## 3. Qual Ã© a mÃ©dia da nota do componente de formaÃ§Ã£o geral de alunas do sexo feminino, pardas, de Minas Gerais em cursos presenciais de Direito?

In [26]:
display(Markdown('### A mÃ©dia da nota do componente de formaÃ§Ã£o geral \
                    de alunas do sexo feminino, pardas, de Minas Gerais \
                    em cursos presenciais de Engenharia de ProduÃ§Ã£o Ã©:'))
enade.loc[
    (enade.DESC_COR == 'Branca') &
    (enade.TP_SEXO == 'F') &
    (enade.CO_GRUPO == 2) &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_MODALIDADE == 'Presencial'),
    "NT_FG"
].mean()

### A mÃ©dia da nota do componente de formaÃ§Ã£o geral                     de alunas do sexo feminino, pardas, de Minas Gerais                     em cursos presenciais de Engenharia de ProduÃ§Ã£o Ã©:

50.99961923847695